apiVersion: v2
appVersion: v1.5.1
annotations:
  application.giantswarm.io/team: team-honeybadger
  config.giantswarm.io/version: 1.x.x
dependencies:
  - name: policy-reporter
    version: 1.12.5
  - name: kyverno
    version: v2.1.3
  - name: kyverno-policies
    version: v2.1.3
description: |
  Kyverno is a policy engine designed for Kubernetes. It can validate, mutate,
  and generate configurations using admission controls and background scans.
  Kyverno policies are Kubernetes resources and do not require learning a new
  language.
engine: gotpl
home: https://github.com/giantswarm/kyverno-app
icon: https://s.giantswarm.io/app-icons/kyverno/1/light.svg
keywords:
  - kubernetes
  - policy agent
  - validating webhook
  - admissions controller
name: kyverno
restrictions:
  clusterSingleton: true
sources:
- https://github.com/kyverno/kyverno
type: application
version: [[ .Version ]]
